# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Models
models/*.h5
models/*.keras

# Output images
outputs/

# macOS
.DS_Store

# Streamlit cache
.streamlit/